*{
    --border-color-grad: linear-gradient(90deg, rgba(4,3,34,1) 0%, rgba(115,27,4,1) 25%, rgba(110,69,21,1) 43%, rgba(116,121,9,1) 67%, rgba(13,15,98,1) 91%);
}

.InfoContainer{
    text-align: center;
    
    border: none;
    border-radius: 2%;
    box-shadow: 0px 0px 0.5vw #757575;

    width: 100%;
    padding: 1vw;

}

.IconContainer{
    left: 50%;
    transform: translateX(-50%);
    background: var(--border-color-grad);
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 50%;
    position: relative;
}


.Icon{
    border-radius: 50%;
    position: absolute;
    top: 0.2vw;
    left: 0.2vw;
    width: var(--icon-size-w-border);
    height: var(--icon-size-w-border);


}

.Level{
    border-radius: 50%;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3vw;
    font-size: var(--font-size-sub);
    border: 2px solid #cccccc;
    color: #cccccc;
    background-color: black;
   
}

.Name{
    font-size: var(--font-size-title);
    padding: 0.5vw 1vw;    

}
